#################################
## Change IP for domain as needed
#################################
## KVM/QEMU   = enp1s0
## Virtualbox = enp0s3
version: 2
ethernets:
  enp1s0: # Change interface name as needed (default KVM/QEMU)
    dhcp4: false 
    dhcp6: false
    addresses: [{{ hostvars[item]['ansible_host'] }}/24]
    gateway4: 192.168.4.1 #router gateway ip
    nameservers:
      addresses: [1.1.1.1, 1.0.0.1] #cloudflare dns servers but can use others
